/* --- features */
.features {
  position: relative;
  z-index: 4;
  padding-top: 104px;
}

.features__inner {
  position: relative;
}

.feature__star {
  position: absolute;
  bottom: -200px;
  left: 70px;
  overflow: hidden;
  height: 200px;
  width: 200px;
}

.feature__star img {
  position: absolute;
  bottom: -490px;
  left: -469px;
}

.features__slogan {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 63px;
  z-index: 3;
}

.features__title {
  font-family: 'Gatwick-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 51px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 16px;
}

.features__text {
  font-family: 'Manrope-Regular';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  max-width: 746px;
}

@media screen and (max-width: 600px) {
  .features {
    padding-top: 10px;
  }
  .features .container {
    padding: 0 50px;
  }
  .features__title{
    font-size: 26px;
    line-height: 36px;
  }
  .features__text{
    font-size: 14px;
    line-height: 22px;
  }
  .feature__star img{
    display: none;
  }
}
