/* --- slogan */
.slogan {
  padding-top: 45px;
  position: relative;
  padding-bottom: 100px;
  z-index: 1;
}

.slogan__wrapper {
  z-index: 3;
  position: relative;
}

.slogan__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slogan__text {
  max-width: 600px;
  font-family: 'Manrope-Regular';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 40px;
  line-height: 35px;
}

@media screen and (max-width: 600px) {
  .slogan .container {
    padding: 50px 30px;
  }

  .slogan__text{
    font-size: 16px;
    line-height: 160%;
  }
}
